body
{
    background-image: url(./popcorn.jpg);
    background-size: cover;
}
input
{
    border-radius: 25px;
    border: 2px solid black;
}
input:hover,input:focus
{
    border-radius: 25px;
    border: 5px solid gold;
    font-weight: bolder;
    font-style: oblique;
}